@{
    ViewData["Title"] = "Home Page";
}

@model List<ColorReadDTO>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body" style="background-color: @item.Hexacode">
            <h5 class="card-title">@item.NameEn</h5>
            <p class="card-text">@item.NameAr</p>
            <p class="card-text">@item.Hexacode</p>
            @* <a href="@item.Link" class="btn btn-primary">Go somewhere</a> *@
        </div>
    </div>
}